<!-- Intro Description -->
<div id="intro_container" class="content_container">
    <image id="profile_picture" src="../images/pfp.jpg"></image>
    <p id="main_text" class="text">
        Hi, I&#8217;m Justin! I&#8217;m a Computer Engineering and Management student at McMaster
        University.<br><br>
        I have a keen interest in learning about logic, circuitry, microarchitectures and their applications.
    </p>
</div>

<!-- Most Recent Project-->
<div class="content_container">
    <h2>Project Title</h2>
    <div>Project Skills</div>
    <p class="text">Project Description</p>
</div>

<!-- Linked-In and Socials Links -->
<div class="content_container">
    <image>LinkedIn Logo</image>
    <p class="text">A complete outline of my professional experience can be found on my Linked-In Page</p>
</div>

<!-- Notable Experiences -->